#sendToInstapaperResults {
	top: -50px;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
	position: fixed !important;
	left: 0px !important;
	right: 0px !important;
	text-align: center !important;
	font: normal normal 18px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
	color: #fff !important;
	width: 100% !important;
	height: 42px !important;
	clear: none !important;
	z-index: 9000 !important;
	vertical-align: middle !important;
	-webkit-transition: top .2s ease !important;
	text-decoration: none !important;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(126,126,126,.95)),
		color-stop(1, rgba(97,97,97,.975))
	) !important;
	opacity: 0 !important;
}

#sendToInstapaperResults.success {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(30,92,155,.95)),
		color-stop(1, rgba(52,121,191,.975))
	) !important;
	border-bottom: 1px solid #133b5f !important;
	border-top: 1px solid #5886b7 !important;
	text-shadow: #2b598b 0 -1px 0 !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,.75) !important;
	opacity: 1.0 !important;
}

#sendToInstapaperResults.failed {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(153,31,31,.95)),
		color-stop(1, rgba(189,53,53,.975))
	) !important;
	border-bottom: 1px solid #5e1313 !important;
	border-top: 1px solid #b55959 !important;
	text-shadow: #8a2b2b 0 -1px 0 !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,.75) !important;
	opacity: 1.0 !important;
}
